# Composer ignores
vendor
composer.phar
composer.lock

# Framework ignores
.env
.env.*.php
.env.php
selenium.php
/bootstrap/compiled.php
.phpunit.result.cache

# Hosting ignores
php_errors.log
nginx-error.log
nginx-access.log
nginx-ssl.access.log
nginx-ssl.error.log
sftp-config.json
.ftpconfig

# Editor ignores
nbproject
.idea
.vscode
!.devcontainer/.vscode
_ide_helper.php

# Other ignores
.DS_Store
package-lock.json
.phpunit.cache
node_modules

# Ignore generated public directory from `winter:mirror public`
public
# Created by https://www.toptal.com/developers/gitignore/api/laravel
# Edit at https://www.toptal.com/developers/gitignore?templates=laravel

### Laravel ###
/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

.docker/
# End of https://www.toptal.com/developers/gitignore/api/laravel
